<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Contact Management</title>
		<link rel="stylesheet" th:href="@{/style/all_contact_style.css}" />
		<link rel="stylesheet" th:href="@{/style/create_contact_style.css}" />
	</head>
	<body>
		<nav class="nav">
			<ul class="nav_ul">
				<div class="nav_first">
					<li class="nav_li nav_li_first">Contact Management</li>
					<li class="nav_li">
						<a th:href="@{/user/contacts}">All Contacts</a>
					</li>
				</div>
				<li class="nav_li">
					<a class="add_contact" th:href="@{/logout}">Logout</a>
				</li>
			</ul>
		</nav>

		<form
			class="create_form"
			method="POST"
			th:action="@{/user/edit-contact}"
			th:object="${contact}"
		>
			<!--			<label for="name">Enter Name *</label>-->
			<h2>Update Contact</h2>
			<br />
			<input type="hidden" th:field="*{createdOn}" />
			<input type="hidden" th:field="*{id}" />
			<input
				class="create_contact_input"
				type="text"
				id="name"
				name="name"
				value="${contact.name}"
				placeholder="Enter Name *"
				th:field="*{name}"
			/>
			<p
				class="form_error"
				th:if="${#fields.hasErrors('name')}"
				th:errors="*{name}"
			></p>
			<br />

			<!--			<label for="number">Enter Mobile Number *</label>-->
			<input
				class="create_contact_input"
				type="number"
				id="number"
				name="number"
				min="1000000000"
				max="9999999999"
				title="Please enter 10 digit number"
				value="${contact.number}"
				maxlength="10"
				pattern="[0-9]{10}"
				placeholder="Enter 10-digit Mobile number *"
				th:field="*{number}"
			/>
			<p
				class="form_error"
				th:if="${#fields.hasErrors('number')}"
				th:errors="*{number}"
			></p>

			<br />
			<!--			<label for="role">Enter Role *</label>-->
			<input
				class="create_contact_input"
				type="text"
				id="role"
				name="role"
				value="${contact.role}"
				placeholder="Enter Role "
				th:field="*{role}"
			/>
			<br />
			<input class="create_contact_submit" type="submit" value="Update" />
		</form>
	</body>
</html>
